<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/common.css">

        <title>Scootplayer</title>
    </head>

    <body>
        <div class="container-fluid content">

            <div class="buffer">
                <h2 class="buffer_title" onclick="toggle_playback_graphs()">Playback</h2>
                <div class="row buffer_graphs"  id="playback_graphs">
                    <div class="col-sm-6 card col-md-4">
                        <h3 class="title">Bandwidth</h3>
                        <div class="body">
                            <div class="rotate">Bandwidth (Kbps)</div>
                            <div class="graph" id="playback-bandwidth"></div>
                            <div class="xaxis">Seconds</div>
                        </div>
                    </div>
                    <div class="col-sm-6 card col-md-4">
                        <h3 class="title">Video Bitrate</h3>
                        <div class="body">
                            <div class="rotate">Bitrate of video (Kbps)</div>
                            <div class="graph" id="playback-url_bitrate"></div>
                            <div class="xaxis">Seconds</div>
                        </div>
                    </div>
                    <div class="col-sm-6 card col-md-4">
                        <h3 class="title">Time Buffer</h3>
                        <div class="body">
                            <div class="rotate">Buffered content (seconds)</div>
                            <div class="graph" id="playback-time_buffer"></div>
                            <div class="xaxis">Seconds</div>
                        </div>
                    </div>
                    <div class="col-sm-6 card col-md-4">
                        <h3 class="title">Moving Average Bandwidth</h3>
                        <div class="body">
                            <div class="rotate">Bandwidth (Kbps)</div>
                            <div class="graph" id="playback-moving_average_bandwidth"></div>
                            <div class="xaxis">Seconds</div>
                        </div>
                    </div>
                    <div class="col-sm-6 card col-md-4">
                        <h3 class="title">Moving Average Occupancy</h3>
                        <div class="body">
                            <div class="rotate">Buffered content (seconds)</div>
                            <div class="graph" id="playback-moving_average_occupancy"></div>
                            <div class="xaxis">Seconds</div>
                        </div>
                    </div>
                    <div class="col-sm-6 card col-md-4">
                        <h3 class="title">Information</h3>
                        <div class="body">
                            <span class="title2">Local Time:</span> <span id="local_time"></span><br/>
                            <span class="title2">Startup delay: </span> <span style="color: red" id="startup_delay"> seconds</span><br/>
                            <span class="title2">VM:</span> <span id="system_node"></span><br/>
                            <span class="title2">Manifest:</span> <span id="manifest"></span><br/>
                            <span class="title2">Bitrate min/max: </span> <span id="min_max"></span><br/>
                            <span class="title2">Python version:</span> <span id="python_version"></span><br/>
                            <span class="title2">System platform:</span> <span id="system_platform"></span><br/>
                            <span class="title2">System release:</span> <span id="system_release"></span><br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="static/jquery.min.js"></script>
        <script src="static/jquery.flot.min.js"></script>
        <script src="static/graphs.js"></script>
        <script>
            $(".title").click(function () {

                $header = $(this);
                //getting the next element
                $content = $header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                $content.slideToggle(300, function () {
                    //execute this after slideToggle is done
                    //change text of header based on visibility of content div
                    $header.text(function () {
                        //change text based on condition
                        //return $content.is(":visible") ? "Collapse" : "Expand";
                    });
                });

            });
        </script>
        <script>
            function toggle_playback_graphs() {
                $("#playback_graphs").toggle();
            }

            function toggle_download_graphs() {
                $("#download_graphs").toggle();
            }
        </script>

    </body>
</html>
